<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../includes/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/prove03Style/book_details_style.css">
</head>

<body>
    <% include ../../../includes/nav.ejs %>

    <div class="center">
        <h1><%= Title %></h1>
    </div>
    <a class="return" href="../prove03R">return</a>
    <div>
        <div class="grid_container">

            <% books.forEach(element => { %>
            <div class="grid_item">
                <a href="./book-details/<%= element.id %>">
                    <h1>
                        <%= element.title %>
                    </h1>
                    <img src="<%= element.imageUrl %>" alt="element.imageUrl">
                    <h3>
                        Price $: <%= element.price %>
                    </h3>
                </a>
            </div>
            <% }); %>

        </div>
    </div>