<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/prove03/shopnavStyle.ejs %>

    <link rel="stylesheet" href="/stylesheets/prove03Style/book_details_style.css">
    <link rel="stylesheet" href="/stylesheets/prove03Style/buttons.css">
</head>

<body>
    <% include ../../../partials/prove03/shopnav.ejs %>

    <div class="center">
        <h1><%= Title %></h1>
    </div>
    <!-- Retrun Button -->
    <a href="../prove03R"><button class="red small button">Return</button></a>
    <div>
        <div class="grid_container">

            <% books.forEach(element => { %>
            <div class="grid_item">

                <h1>
                    <%= element.title %>
                </h1>
                <div>
                    <img class="book-img" src="<%= element.imageUrl %>" alt="element.imageUrl">
                </div>
                <h3>
                    Price $: <%= element.price %>
                </h3>
                <a href="./book-details/<%= element.id %>"><button class="green small button">details</button></a>

                <% if (isAuthenticated) { %>
                <form action="./add-to-cart" method="post">
                    <button class="blue small button" type="submit">Add to Cart</button>
                    <input type="hidden" name="bookId" value="<%= element._id %>">
                </form>
                <% } %>
            </div>
            <% }); %>

        </div>
    </div>
    <a href="../prove03R"><button class="red small button">Return</button></a>
    <br>
</body>