<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> </title>
    <% include ../../../partials/prove03/shopnavStyle.ejs %>
    <link rel="stylesheet" href="/stylesheets/prove03Style/buttons.css">
    <link rel="stylesheet" href="/stylesheets/prove03Style/cart.css">
</head>

<body>
    <% include ../../../partials/prove03/shopnav.ejs %>
    <!-- Title -->
    <h1><%= pageTitle %></h1>
    <!-- Return Button -->
    <a class="customButton" href="../prove03R" class="red small button "><button
            class="red small button ">Return</button></a>

    <!-- items -->
    <% if (books.length > 0) { %>
    <% books.forEach( book => { %>


    <div class="item">
        <!-- Display info of book -->
        <h1>Title: <%= book.title %></h1>
        <img src="<%= book.imageUrl %>" alt="" class="img-thumbnail img-fluid">
        <!-- Display Quantity-->
        <h2>Quantity: <%=  book.quantity %></h2>
        <!-- Delete Item from cart -->
        <form action="./cart-delete-item" method="POST">
            <input type="hidden" value="<%= book.bookId._id %>" name="bookId">
            <button class="large red button" type="submit">Delete</button>
        </form>
        <hr>
    </div>

    <% }) %>


    <div>
        <form action="/create-order" method="POST">
            <button type="submit" class="large green button">Order Now!</button>
        </form>
    </div>

    <% } else { %>
    <h1>No Products in Cart!</h1>
    <% } %>

</body>