<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/prove03/shopnavStyle.ejs %>
    <link rel="stylesheet" href="/stylesheets/prove03Style/book_details_style.css">
    <link rel="stylesheet" href="/stylesheets/prove03Style/buttons.css">
</head>

<body>
    <% include ../../../partials/prove03/shopnav.ejs %>
    <div class="center">
        <h1><%= Title %></h1>
    </div>
    <a href="../book-details"><button class="red small button">Return</button></a>
    <div>
        <div class="grid_container">

            
            <div class="grid_item">
                
                   
                    <h1>
                        <%= book.title %>
                    </h1>
                    <img class="book-img" src="<%= book.imageUrl %>" alt="book.imageUrl">
                    <h2>
                        Price: <%= book.price %>
                    </h2>
                    <p>
                        Description:
                        <%= book.description %>
                    </p>
                    <h5>
                        ID: <%= book.id %>
                    </h5>
                
            </div>
            

        </div>
    </div>